p {
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    text-align: center;
    width: auto;
    margin: 0;
    border: darkslateblue;
    border-radius: 50%;
}